/*---------------------------------
-----------------------------------
    進化情報
-----------------------------------
---------------------------------*/

div#monster-evol{
    //display: none;
    position: absolute;
    width: 950px;
    height: 850px;

    background-color: rgba(240,240,240,0.98);
    border: solid 5px rgba(200,200,200,0.8);
    border-radius: 50px;

    overflow-y:scroll;
    overflow-x:hidden;
}
div#monster-evol ul{
    list-style: none;
}

div.Ev-b,
div.Ev-p,
div.Ev-a
{
    position: relative;
    float: left;
    width: 300px;
    height: 220px;
}
div.Ev-p > div{
    position: relative;
    float: left;
}
div.Ev-a > div{
    position: relative;
    float: left;
}


/*進化素材*/
div.Ev-materials{
    width: 300px;
    background-color: rgba(250,250,250,0.9);
}
div.Ev-materials > p:FIRST-CHILD{
    width: 100%;
}
div.Ev-materials > ul{
    width: 300px;
}
div.Ev-materials > ul > li{
    position: relative;
    float: left;
    width: 100%;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

div.Ev-materials > ul > li > div{
	position: relative;
	float: left;
}
div.Ev-materials > ul > li > div{
	width: 250px;
}
div.Ev-materials > ul > li > div:FIRST-CHILD{
    width: 50px;
    cursor: pointer;
}

div.Ev-materials > ul > li p.ma-name,
div.Ev-materials > ul > li p.ma-number{
    line-height: 1.3em;
	width: 240px;
    height: 20px;
}




/*進化前後モンスター*/


div.Ev-a > div,
div.Ev-b > div{
    position: relative;
    float: left;
}
div.Ev-a > div.ev-im,
div.Ev-b > div.ev-im{
    height: 52px;
    cursor: pointer;
}

div.Ev-a > div.ev-na,
div.Ev-b > div.ev-na{
    text-align: center;
    width: 250px;
    height: 20px;
}
div.Ev-a > div.ev-na p,
div.Ev-b > div.ev-na p{
    text-align: center;
}

div.Ev-a > ul.ev-st-li,
div.Ev-b > ul.ev-st-li{
    position: relative;
    float: left;
    width: 250px;
}

div.Ev-a > ul > li > p,
div.Ev-b > ul > li > p{
    position: relative;
    float: left;
    background-color: rgba(250,250,250,0.9);
}

div.Ev-a > ul > li,
div.Ev-b > ul > li{
    position: relative;
    float: left;
    background-color: rgba(250,250,250,0.9);
}

li.ev-at,
li.ev-ty,
li.ev-rc,
li.ev-st{
    width: 100%;
}


li.ev-at p,
li.ev-st p{
    line-height: 2em;
    font-size: 0.95em;
    color: rgba(100,50,10,0.8);
    text-align: center;
    width: 26px;
    height: 25px;
}
li.ev-at p.ev-ty{
    width: 28px;
    height: 31px;
    transform: scale(0.7,0.7);
}
li.ev-at p.ev-sp{
    width: 20px;
}
li.ev-ty p,
li.ev-rc p{
	font-size: 0.8em;
    width: 49%;
}
li.ev-st p{
    width: 50px;
}
li.ev-st p:nth-child(odd){
    background-color: rgba(150,150,150,0.4);
}
li.ev-st p:nth-child(even){
    background-color: rgba(200,200,200,0.4);
}
li.ev-sk,
li.ev-le{
    font-size: 0.95em;
    color: rgba(100,50,10,0.8);
    width: 100%;
    height: 50px;
}
li.ev-sk p,li.ev-le p{
    text-align: center;
}
li.ev-sk p:FIRST-CHILD,
li.ev-le p:FIRST-CHILD{
    width: 50px;
}
li.ev-sk p:nth-child(2),
li.ev-le p:nth-child(2){
    width: 247px;
    background-color: rgba(200,150,100,0.4);
}
li.ev-sk p:nth-child(1),
li.ev-le p:nth-child(1){
    background-color: rgba(200,150,100,0.6);
}
li.ev-sk p:LAST-CHILD,
li.ev-le p:LAST-CHILD{
    width: 100%;
}


/*究極表示*/
div.ev-ultimate{
	display: none;
	color: rgba(250,180,120,1);
	font-weight: bolder;
	text-shadow: 0px 0px 3px rgba(250,250,250,1);
	text-align: center;
	line-height: 1.5em;
	position: absolute;
	width: 100%;
	height: 20px;

	background: -webkit-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: -o-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: -ms-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: linear-gradient(135deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);

}


