/*---------------------------------
-----------------------------------
    進化情報
-----------------------------------
---------------------------------*/

div#monster-evol{
    display: none;
    position: absolute;
    width: 950px;
    height: 850px;

    background-color: rgba(240,240,240,0.98);
    border: solid 5px rgba(200,200,200,0.8);
    border-radius: 50px;

    overflow-y:scroll;
    overflow-x:hidden;
}
div#monster-evol ul{
    list-style: none;
}


div[class^="Ev-p"]{
    position: absolute;
    width: 200px;
}
div[class^="Ev-a-"]{
    position: absolute;
    width: 300px;

}
div[class^="Ev-p"] > div{
    position: relative;
    float: left;
    width: 200px;
}
div[class^="Ev-a-"] > div,
div.Ev-b{
    position: relative;
    float: left;
    width: 300px;
}


/*進化素材*/
div.Ev-materials{
    width: 200px;
    background-color: rgba(250,250,250,0.9);
}
div.Ev-materials > p{
    width: 100%;
}
div.Ev-materials > ul{
    width: 100%;
}
div.Ev-materials > ul > li{
    position: relative;
    float: left;
    width: 32px;
    height: 40px;
    margin: 2px 3px;;
}
div.Ev-materials > ul > li > p{
    position: absolute;
    top: -5px;
    left: -6px;
    transform: scale(0.7,0.7);
    cursor: pointer;
}
/*ステータス変動*/
div.Ev-stup{
    width: 200px;
    background-color: rgba(250,250,250,0.9);
}

div.Ev-stup > ul >li{
    position: relative;
    float: left;
    width: 45px;
    height: 25px;
    background-color: rgba(250,250,250,0.9);

}
div.Ev-stup > ul >li.ev-stups{
    width: 28px;
}
div.Ev-stup > ul >li p{
	text-align: center;
    font-size:0.80em;
    line-height: 2em;
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    background-color: rgba(250,250,250,0.9);
}
div.Ev-stup > ul >li p:nth-child(1){
    width: 15px;
    height: 25px;
}

div.Ev-stup > ul >li p:nth-child(2){
    width: 28px;
    height: 25px;
}

p.ev-stupt{
    width: 32px;
    height: 31px;
    transform: scale(0.7,0.7);
}



/*進化前後モンスター*/
div.Ev-b{
    position: absolute;
}
div.Ev-a,
div.Ev-b{
    height: 200px;
    background-color: white;
}
div.Ev-a > div,
div.Ev-b > div{
    position: relative;
    float: left;
}
div.Ev-a > div.ev-im,
div.Ev-b > div.ev-im{
    height: 52px;
    cursor: pointer;
}

div.Ev-a > div.ev-na,
div.Ev-b > div.ev-na{
    text-align: center;
    width: 250px;
    height: 20px;
}
div.Ev-a > div.ev-na p,
div.Ev-b > div.ev-na p{
    text-align: center;
}

div.Ev-a > ul.ev-st-li,
div.Ev-b > ul.ev-st-li{
    position: relative;
    float: left;
    width: 250px;
}

div.Ev-a > ul > li > p,
div.Ev-b > ul > li > p{
    position: relative;
    float: left;
    background-color: rgba(250,250,250,0.9);
}

div.Ev-a > ul > li,
div.Ev-b > ul > li{
    position: relative;
    float: left;
    background-color: rgba(250,250,250,0.9);
}

li.ev-at,
li.ev-ty,
li.ev-rc,
li.ev-st{
    width: 100%;
}
li.ev-at p,
li.ev-st p{
    line-height: 2em;
    font-size: 0.95em;
    color: rgba(100,50,10,0.8);
    text-align: center;
    width: 26px;
    height: 25px;
}
li.ev-at p.ev-ty{
    width: 32px;
    height: 31px;
    transform: scale(0.7,0.7);
}
li.ev-at p.ev-sp{
    width: 12px;
}
li.ev-ty p,
li.ev-rc p{
    width: 49%;
}
li.ev-st p{
    width: 50px;
}
li.ev-st p:nth-child(odd){
    background-color: rgba(150,150,150,0.4);
}
li.ev-st p:nth-child(even){
    background-color: rgba(200,200,200,0.4);
}
li.ev-sk,
li.ev-le{
    font-size: 0.95em;
    color: rgba(100,50,10,0.8);
    width: 100%;
}
li.ev-sk p,li.ev-le p{
    text-align: center;
}
li.ev-sk p:FIRST-CHILD,
li.ev-le p:FIRST-CHILD{
    width: 50px;
}
li.ev-sk p:nth-child(2),
li.ev-le p:nth-child(2){
    width: 247px;
    background-color: rgba(200,150,100,0.4);
}
li.ev-sk p:nth-child(1),
li.ev-le p:nth-child(1){
    background-color: rgba(200,150,100,0.6);
}
li.ev-sk p:LAST-CHILD,
li.ev-le p:LAST-CHILD{
    width: 100%;
}


/*究極表示*/
div.ev-ultimate{
	display: none;
	color: rgba(250,180,120,1);
	font-weight: bolder;
	text-shadow: 0px 0px 3px rgba(250,250,250,1);
	text-align: center;
	line-height: 1.5em;
	position: absolute;
	width: 100%;
	height: 20px;

	background: -webkit-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: -o-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: -ms-linear-gradient(-45deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);
	background: linear-gradient(135deg,  #000000 0%,#12a000 17%,#000000 33%,#272393 51%,#000000 70%,#960303 86%,#000000 100%);

}



div[class^="Ev-ar"]{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(250,250,250,0.99);
}


/* 変更ステータス強調表示*/

div.Ev-stup > ul >li p.ev-up{
    height: 100%;
    background-color: rgba(250,0,0,0.4);
    border-radius: 4px;
}

div.Ev-stup > ul >li p.ev-down{
    height: 100%;
    background-color: rgba(0,0,250,0.4);
    border-radius: 4px;
}

/**

    配置パターン

*/

/*進化前*/
div.Ev-b{
    top: 10px;
    left: 10px;
}


/*矢印*/
.ev-rr1{
    background-image: url("../img/ar1.gif");
    background-size: cover;
}
.ev-rr2{
    background-image: url("../img/ar2.gif");
    background-size: cover;
}
.ev-rr3{
    background-image: url("../img/ar3.gif");
    background-size: cover;
}
.ev-rr4{
    background-image: url("../img/ar4.gif");
    background-size: cover;
}
.ev-rr5{
    background-image: url("../img/ar5.gif");
    background-size: cover;
}


