/*---------------------------------
-----------------------------------
    敵情報
-----------------------------------
---------------------------------*/

div#enemy{
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    border: solid 1px gray;

}



.mimage-l img,
.mimage_l{
    width:96px;
    height: 96px;
}
.mimage-s img,
.mimage_s{
    width:48px;
    height: 48px;
}
/*---------------------------------
-----------------------------------
    モンスター検索
-----------------------------------
---------------------------------*/

div#monster-search{
    display: none;
    position: absolute;
    top: 0px;
    left: 75px;

    width: 950px;
    height: 1000px;

    z-index: 10000;
    background-color: rgba(250,250,255,0.9);
}



/*---------------------------------
-----------------------------------
    モンスター検索リスト
-----------------------------------
---------------------------------*/

div#search-type-list{
    position: absolute;
    top: 0px;
    left: -370px;

    width: 350px;
    height: 130px;
    z-index: 10001;
}
div#search-type-list > p{
    text-align: center;
    font-weight: bold;
    color: rgba(250,100,100,0.6);
    width: 100%;
    height: 25px;
    padding-top: 8px;
}
div#search-type-list ul{
    list-style: none;
}
div#search-type-list > ul > li{
    position: relative;
    float: left;

    width: 110px;
    height: 25px;

    margin: 1px;
    border-radius: 5px;
    border: solid 1px rgba(50,100,150,0.8);
    background-color: rgba(130,180,250,0.8);
    box-shadow: 2px 1px 0px rgba(50,100,150,0.8);
    cursor: pointer;
}
div#search-type-list > ul > li:HOVER{
    background-color: rgba(30,80,130,0.8);
    box-shadow: -2px -1px 0px rgba(50,100,150,0.8);
}
div#search-type-list > ul > li p{
    text-align: center;
    font-size: 0.9em;
    padding-top: 5px;
    color: rgba(80,80,80,1);
}

div[id^="search-type"]{
    position: relative;
    float: left;
    margin-top: 25px;
}
div#search-type2,
div#search-type3,
div#search-type4,
div#search-type5{
    display: none;
}



/*---------------------------------
-----------------------------------
    モンスター絞込
-----------------------------------
---------------------------------*/

div#search-tools{
    position: absolute;
    background-color:rgba(200,200,200,0.8);

    width: 950px;
    height: 600px;

    overflow: hidden;
    z-index: 1000000;
}
div#tools-switch{
    text-align: center;
    line-height:2.5em;
    position: absolute;
    right: 0px;
    width: 150px;
    height: 40px;
    background-color: rgba(200,200,200,0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(50,50,50,0.4);

    cursor: pointer;
    z-index: 1000010;
}
ul.search-tab-box,
ul.search-word{
    position: relative;
    float: left;
    list-style: none;
    width: 95%;
    margin: 3px 0px;

    border-bottom:solid 5px rgba(50,50,50,0.2);
}

ul.search-tab-box > li{
    text-align: center;
    position: relative;
    float: left;
    width: 120px;
    height: 26px;
    margin: 0px 4px;
    background-color: rgba(250,250,250,0.9);
    box-shadow: 1px 1px 0px rgba(10,10,10,0.4);
    border: solid 1px rgba(150,150,150,0.5);
    border-radius: 5px;

    cursor: pointer;
}
ul.search-tab-box > li:HOVER{
    background-color: rgba(100,100,100,0.3);
}
ul.search-tab-box > li:FIRST-CHILD {

}

ul.search-tab-box > li >p{
    color: rgba(80,80,80,1);
    padding-top: 5px;
}
ul.search-tab-box > li > p:LAST-CHILD{
    transform: scale(0.7,0.7);
    position: absolute;
    right: -2px;
    top: -4px;
    width: 31px;
    height:28px;

}


div#search-type-switch{
    position:absolute;
    top: 80px;
    right: 0px;

    z-index: 1000010;
}
input[type^='radio']{
    display: none;
}
label[class^='radio']{
    font-size: 2em;
    text-align: center;
    color: rgba(50,50,50,1);
    line-height: 1;

    width: 200px;
    margin: 0 3;
    padding: 5px;
    background: #bdc3c7;
    border-radius: 3px;

    transition: .2s;
    cursor: pointer;
}

input[type^="radio"]:checked + .radio-yes {
    background-color: #a1b91d;
    color: #fff;
}
input[type^="radio"]:checked + .radio-no {
    background-color: #e67168;
    color: #fff;
}



/*モンスター一覧表示*/

ul#monster-box{
    list-style: none;
    width: 950px;
    height: 800px;

    overflow-x: hidden;
    overflow-y: scroll;
}

ul#monster-box > li,
ul#monster-box2 > li{
    position: relative;
    float: left;
    width: 110px;
    height: 140px;
    margin: 2px;

    border-radius: 10px;
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);

    cursor: pointer;
}
ul#monster-box > li div,
ul#monster-box2 > li div{
    color: rgba(80,80,80,1);
    font-weight:bolder;
    font-size: 0.9em;
    position: relative;
    float: left;
    width: 98%;
    margin: 0 1%;
}
ul#monster-box > li div:nth-child(2),
ul#monster-box2 > li div:nth-child(2){
    text-align: center;
}
ul#monster-box > li div:FIRST-CHILD,
ul#monster-box2 > li div:FIRST-CHILD{
    width: 94px;
    height: 94px;
    margin: 0 5px;
}

/*モンスターステータス詳細*/

div#monster-status-view{
    position: absolute;
    top: 0px;
    left: -375px;

    width: 375px;
    height: 1000px;

    background-color: rgba(250,250,250,0.9);

    z-index: 10000;
}

/*ステータス情報*/
div#monster-status-view > ul{
    list-style: none;
    width: 100%;
    height: 100%;
    margin-top: 200px;
}


div#monster-status-view > ul >li{
    position: relative;
    float: left;
    width: 350;
    margin-left: 20px;

    border: solid 1px rgba(200,200,200,0.5);
}

div#monster-status-view > ul >li > p{
    color: rgba(100,100,100,1);
    text-align: center;
    font-size: 1.2em;
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
    padding-top: 5px;
}
div#monster-status-view > ul >li:nth-child(1) > div,
div#monster-status-view > ul >li:nth-child(2) > div{
    text-align: center;
    font-size: 1.2em;
    position: relative;
    float: left;
    width: 260px;
    height: 30px;
    padding-top: 5px;
}

div#monster-status-view > ul >li > p:nth-child(odd) {
    width: 70px;

    background-color: rgba(100,100,100,0.2);
    border-radius: 5px;
}

div#monster-status-view > ul >li > div.monster-type-list > p{
    text-align:center;
    line-height: 1.8em;
    position: relative;
    float: left;
    width: 90px;
    height: 30px;

    border-right: solid 1px rgba(50,50,50,0.4);
}


/*ステータスの内容*/
div#ms-number,
div#ms-name,
p#ms-attribute,
p#ms-subattribute,
p#ms-type,
p#ms-subtype,
p#ms-thirdtype,
p#ms-cost,
p#ms-rarity,
p#ms-hp,
p#ms-attack,
p#ms-cure{
    background-color: rgba(250,250,250,0.8);
}


/*スキル表示*/
div.monster-status-skill-na{
    width: 340px;
    height: 40px;

    border: solid 1px rgba(200,200,200,0.5);
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}
div.monster-status-skill-na > p{
    text-align: center;
    position: relative;
    float: left;
    width: 200px;
    padding-top: 10px;
}
p#ms-skill-na{
    height: 72%;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;
    border: solid 3px rgba(250,180,120,0.8);
    cursor: pointer;
}
p#ms-skill-na:HOVER{
    background-color: rgba(50,50,50,0.6);
}
div.monster-status-skill-na > p:nth-child(odd) {
    width: 60px;
    height: 30px;
    background-color: rgba(100,100,100,0.2);
}

p#ms-leader-na{
    width: 275px;
    height: 72%;
    background-color: rgba(250,250,250,0.8);
}


div.monster-status-skill-pro{
    width: 340px;
    height: 80px;
    border: solid 1px rgba(200,200,200,0.5);
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}

div.monster-status-skill-pro > p{
    text-align: left;
    position: relative;
    float: left;

    width: 100%;

    padding-top: 5px;
}

div.monster-status-skill-pro > p:FIRST-CHILD {
    height: 20px;
    background-color: rgba(100,100,100,0.2);
}


/*画像表示*/

div#ms-img{
    position: absolute;
    top: 400px;
    left: 185px;
    z-index: 10010;
}


/*モンスター決定ボタン*/

div#monster-push{
    position: absolute;
    top: 440px;
    left: 300px;

    width: 40px;
    height: 40px;

    border-radius: 20px;
    border: solid 4px rgba(250,100,10,0.6);
    background-color: rgba(250,250,250,1);

    cursor: pointer;
}
div#monster-push p{
    text-align: center;
    color: rgba(80,80,80,0.8);
    padding-top: 10px;
}
div#monster-push:HOVER {
    background-color: rgba(100,100,100,0.5);
}

/*モンスター閉じるボタン 進化詳細ボタン*/
div#monster-close,
div#monster-ev{
    position: absolute;
    top: 150px;
    left: 260px;

    width: 80px;
    height: 27px;

    border-radius: 20px;
    border: solid 2px rgba(250,100,10,0.6);
    background-color: rgba(250,250,250,1);

    cursor: pointer;
}
div#monster-ev{
    top: 390px;
    left: 280px;

}
div#monster-close p,
div#monster-ev p{
    text-align: center;
    color: rgba(80,80,80,0.8);
    padding-top: 6px;
}
div#monster-close:HOVER,
div#monster-ev:HOVER {
    background-color: rgba(100,100,100,0.5);
}



/*---------------------------------
-----------------------------------
    同一スキル
-----------------------------------
---------------------------------*/

div#monster-skill-same{
    display: none;
    position: absolute;
    top:400px;
    left:0px;
    width: 400px;
    height: 200px;

    background-color:rgba(200,200,200,0.8);
    border-radius: 15px;
    z-index: 10000;
}
div#monster-skill-same > div{
    width: 100%;
    height: 35px;
    background-color: rgba(250,180,120,0.9);
    border-radius: 15px;
}
div#monster-skill-same > div > p{
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    padding-top: 5px;
}
div#monster-skill-same > ul{
    list-style: none;
}

div#monster-skill-same > ul > li{
    position: relative;
    float: left;

    width:50px;
    height: 50px;
    cursor: pointer;
}
div#monster-skill-same > p{
    text-align: center;
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 120px;
    height: 25px;

    background-color: rgba(150,150,150,0.8);
    border: solid 1px rgba(80,80,80,0.8);
    border-radius: 8px;


    cursor: pointer;
}



/*---------------------------------
-----------------------------------
    モンスター比較
-----------------------------------
---------------------------------*/

div#search-comparison-list{
    position: absolute;
    top: 100px;
    left: -370px;

    width: 350px;
    height: 100px;
}
div#search-comparison-list ul{
    list-style: none;
}
div#search-comparison-list li{
    position: relative;
    float: left;

    width: 32px;
    height: 32px;

    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);


}


/*---------------------------------
-----------------------------------
    覚醒　タイプアイコン
-----------------------------------
---------------------------------*/
.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8,.t9,.t10,.t11{width:31px;height:32px;float:left; background: url("../img/type.png") no-repeat;}
.t1{background-position:0 -0px;}
.t2{background-position:0 -32px;}
.t3{background-position:0 -64px;}
.t4{background-position:0 -96px;}
.t5{background-position:0 -128px;}
.t6{background-position:0 -160px;}
.t7{background-position:0 -192px;}
.t8{background-position:0 -224px;}
.t9{background-position:0 -256px;}
.t10{background-position:0 -288px;}
.t11{background-position:0 -320px;}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12,.a13,.a14,.a15,.a16,.a17,.a18,.a19,.a20,.a21,.a22,.a23,.a24,.a25,.a26,.a27,.a28,.a29,.a30,.a31,.a32,.a33,.a34,.a35{width:31px;height:32px;float:left; background: url("../img/awaken.png") no-repeat;}
.a1{background-position:0 -0px;}
.a2{background-position:0 -32px;}
.a3{background-position:0 -64px;}
.a4{background-position:0 -96px;}
.a5{background-position:0 -128px;}
.a6{background-position:0 -160px;}
.a7{background-position:0 -192px;}
.a8{background-position:0 -224px;}
.a9{background-position:0 -256px;}
.a10{background-position:0 -288px;}
.a11{background-position:0 -320px;}
.a12{background-position:0 -352px;}
.a13{background-position:0 -384px;}
.a14{background-position:0 -416px;}
.a15{background-position:0 -448px;}
.a16{background-position:0 -480px;}
.a17{background-position:0 -512px;}
.a18{background-position:0 -544px;}
.a19{background-position:0 -576px;}
.a20{background-position:0 -608px;}
.a21{background-position:0 -640px;}
.a22{background-position:0 -672px;}
.a23{background-position:0 -704px;}
.a24{background-position:0 -736px;}
.a25{background-position:0 -768px;}
.a26{background-position:0 -800px;}
.a27{background-position:0 -832px;}
.a28{background-position:0 -864px;}
.a29{background-position:0 -864px;}
.a30{background-position:0 -928px;}
.a31{background-position:0 -960px;}
.a32{background-position:0 -992px;}
.a33{background-position:0 -1024px;}
.a34{background-position:0 -1056px;}
.a35{background-position:0 -1088px;}
