
div#checksum,
div#edit_switch,
div#edit_close{
    text-align: center;
    position:relative;
    float: left;
    width: 80px;
    height: 25px;
    margin: 5px;

    box-shadow: 1px 1px 0px rgba(100,100,100,0.8);
    cursor: pointer;
}
div#checksum:HOVER,
div#edit_switch:HOVER,
div#edit_close:HOVER{
    box-shadow: 0px 0px 5px rgba(100,100,100,1);
    background-color: rgba(150,150,150,0.2);
}
div#checksum p,
div#edit_switch p,
div#edit_close p{
    padding-top: 5px;
}

div#edit_close{
    display: none;
    top:250px;
}
/*---------------------------------
-----------------------------------
    盤面
-----------------------------------
---------------------------------*/

div#pazzle-view{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
}

div#dObj{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -100px;

    z-index: 1000;
}

div.pazzle{
    position: relative;
    float: left;
    width: 285px;
    height: 230px;

    border: solid 1px gray;
}

div.pazzle ul{
    list-style: none;
    position: relative;
    float: left;

    width: 100%;
    height: 45px;
}

div.pazzle ul > li{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin: 3px;

    cursor: pointer;
}
div.pazzle ul > li:HOVER{
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(100,100,100,0.5);
}
div.pazzle ul > li >p{
    position: absolute;
    width: 40px;
    height: 40px;
}


/*---------------------------------
-----------------------------------
    ドロップ編集
-----------------------------------
---------------------------------*/
div#drop-list{
    display: none;
    position: absolute;
    top: 0px;
    left: 290px;
    width: 1000px;
    height: 900px;

    background-color: rgba(250,250,250,0.9);
    z-index: 10;
}
div#drop-list > ul.drop-type{
    list-style: none;
    position: relative;
    float: left;

    width: 100%;
    height: 45px;
}

div#drop-list > ul.drop-type > li{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;

    cursor: pointer;
}

div#drop-list ul.drop-type > li:HOVER{
    box-shadow: 0px 0px 2px rgba(10,10,10,0.8);
}


/*---------------------------------
-----------------------------------
    スキル変換もどき
-----------------------------------
---------------------------------*/
ul#chenge-template{
    list-style: none;
    width: 100%;
    height: 30px;
}
ul#chenge-template li{
    text-align: center;
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
    border: solid 1px rgba(100,100,100,0.8);
    border-radius: 8px 8px 0px 0px;

    cursor: pointer;
}
ul#chenge-template li:HOVER{
    background-color: rgba(100,100,100,0.4);
}

ul.template-type{

}
ul.template-type > li{
    position: absolute;

    width: 400px;
    height: 300px;
    box-shadow: 1px 1px 0px rgba(100,100,100,0.4);
}
ul.template-type > li > ul{
    list-style: none;
}
ul.template-type > li > ul > li{
    text-align: center;
    position: relative;
    float: left;

    width: 140px;
    height: 35px;
    border: solid 1px rgba(100,100,100,0.6);
    border-radius: 5px;

    margin: 2px;
    cursor: pointer;
}

ul.template-type > li > ul > li > p{
    font-size:1.1em;
    font-weight:bold;
    text-shadow: 0px 0px 1px rgba(100,100,100,0.8);

    position: relative;
    float:left;
    width:20px;
    height: 20px;
    padding-top: 5px;
    margin: 5px auto;
}

div#edit_close{
    position: absolute;
    bottom: 2px;
    left: 10px;

    cursor: pointer;
}

/*---------------------------------
-----------------------------------
    保存・読み込みボタン
-----------------------------------
---------------------------------*/
div#save_drop{
    width: 300px;
    height: 37px;
}
div#save_drop > ul{
    list-style: none;
    width: 280px;
    height: 100%;

}
div#save_drop > ul > li{
    position: relative;
    float: left;
    width: 35px;
    height: 30px;

    margin: 2px;
    border-radius: 10px;
    border: solid 2px rgba(200,200,120,0.6);
    background-color: rgba(50,50,250,0.2);

    cursor: pointer;
}
div#save_drop > ul > li:HOVER{
    background-color: rgba(50,50,250,0.6);
}
div#save_drop > ul > li p{
    text-align: center;
    padding-top: 5px;
}
div#save_drop > div{

width: 19px;
}
div#save_drop > div > p{
    color:rgba(80,80,80,1);
    font-size: 0.8em;
}
/*---------------------------------
-----------------------------------
    コンボ
-----------------------------------
---------------------------------*/


div#combo-view{

    position: absolute;
    top: 350px;
    left: 5px;
}

